<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOD RECIPE</title>
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <form action="/food" method="POST" class="form">
         <h2>FOOD APP</h2>
        <input type="text" name="name" class="nameInfo" required placeholder="Enter Your Name">
        <input type="email" name="email" class="mailInfo" required placeholder="Enter Your E-mail">
        <input type="text" name="food" class="foodInfo" required placeholder="Enter Your Food Name and description">
        <button type="submit" class="btn">SUBMIT</button>
        <!-- <button type="submit">REVISIT</button> -->
    </form>

</body>

</html>